@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

html {
  @apply bg-text-light;
}

.special-list {
  position: relative;
  text-align: center;
}

.special-list:hover::after,
.special-list-active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: 65%;
  border-bottom: 2px solid white;
}

.heading-2 {
  @apply w-full text-3xl font-bold text-center uppercase;
}

.heading-3 {
  @apply pt-6 text-2xl font-medium;
}

.heading-border-2 {
  @apply block w-full pb-6 border-b-2 border-primary-light;
}

.heading-border-3 {
  @apply block mb-6 border-b-4 w-11 border-primary-light;
}
